
.content{
  padding: 12px;
  height: 3000px
}

.page-host {
  position: relative;
  left: 0;
  top:12px;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.right{
  float:right;
}

.link {
  color: inherit;
  text-decoration: none;
}

.korteInfo{
  margin: -15px;
}

.social {
  margin-right: 0.75%;
}