
.page-host { /*witruimte aan de zijkant van de site*/
  position: relative;
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.navbarpadding {
  padding-bottom: 1%;
}

.right{ /*tekst rechts uitlijnen*/
  float:right;
}

.link { /* verwijderen van streep onder link en blauwe kleur*/
  color: inherit;
  text-decoration: none;
}

.korteInfo{
  margin: -15px;
}

.social { /*witruimte tussen sociale media*/
  margin-right: 0.75%;
}
